@import "tailwindcss";
@theme {
  --color-main-10: #F2F2F5;
  --color-main-20: #D8DADB;
  --color-main-30: #C0C0C0;
  --color-blue-10: #F4F7FF;
  --color-gray-10: #F2F2F5;
  --color-gray-20: #D8DADB;
  --color-gray-30: #C0C0C0;
  --color-gray-70: #8D8D8D;
  --color-gray-80: #4D4D4D;
  --color-bluegray-30: #727793;
  --color-bluegray-80: #373D5F;
  --color-yellow-80: #F7D00F;
  --color-yellow-50: #F8E194;
  --color-yellow-20: #F9F4CA;
  --color-purple-70: #877AEB;
  --color-purple-20: #B3A3D4;
  --color-pink-80: #FF7170;
  --color-pink-60: #FF8D8C;
  --color-pink-20: #FFC8C7;
  --color-green-80: #81C230;
  --color-green-20: #DBE9C9;
  --color-purpleblue-80: #577AE2;

  --text-xs: 12px;
  --text-xs--line-height: 16px;
  --text-sm: 14px;
  --text-sm--line-height: 24px;
  --text-base: 16px;
  --text-base--line-height: 26px;
  --text-lg: 18px;
  --text-lg--line-height: 26px;
  --text-xl: 20px;
  --text-xl--line-height: 28px;
  --text-2xl: 24px;
  --text-2xl--line-height: 34px;
  --text-3xl: 26px;
  --text-3xl--line-height: 26px;

  font-family: "LINESeedKR-Bd", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}